<!DOCTYPE html>
<html>
    <head>

        <title>Login</title>

    </head>
    <body>
        <header>

        </header>
        <main>
            {% if session.username %}
            <a href="/home">Continue as {{ session.username }}</a>
            <a href="/logout">Sign out</a>

            {% else %}
            <form action="/login" method="POST">
            <p>Username:<br>
            <input type="text" name="username"></p>
            <p>Password:<br>
            <input type="password" name="password"></p>
            <input type="submit" value="Login">
            </form>
            <br>
            <a href="/registration_form">Sign up</a>
            {% endif %}

        </main>
        <footer>

        </footer>
    </body>
</html>